.event-banner-placeholder {
  width: 60px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;

  background: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.admin-table th:nth-child(1),
.admin-table td:nth-child(1) {
  width: 90px;
}

.admin-table th:nth-child(2),
.admin-table td:nth-child(2) {
  width: 90px;
}

.admin-table th:nth-child(3),
.admin-table td:nth-child(3) {
  min-width: 220px;
}

.admin-table th:nth-child(4),
.admin-table td:nth-child(4) {
  min-width: 170px;
}

.admin-table th:nth-child(5),
.admin-table td:nth-child(5) {
  min-width: 180px;
}

.admin-table th:nth-child(6),
.admin-table td:nth-child(6) {
  min-width: 140px;
}

.admin-table th:nth-child(7),
.admin-table td:nth-child(7) {
  width: 120px;
}

.admin-table th:nth-child(8),
.admin-table td:nth-child(8) {
  width: 140px;
}